.m-font {
  font-family: 'Montserrat', sans-serif;
}

div.brackets a:before
{
    position: absolute;
    opacity: 0;
    font-size: 20px;
    top: 15px;
    transition: all 0.3s;
    content: '❥';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:hover:before
{
    opacity: 1;
    transform: translateX(0px);
    color: red;
}

/*
  For that background
*/

.bg {
  height: 100vh;
  margin-bottom: 0;
}

.bg-img {
  height: 100%;
  position: relative;
  top: 0;
  text-align: center;
  background: url("../img/background.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backimg {
 /* height: 100%;
  position: relative;*/
  top: 0;
  text-align: center;
  background: url("../img/backgroundnotext.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top:30px;
}

.backimg-top {
 /* height: 100%;
  position: relative;*/
  top: 0;
  text-align: center;
  background: url("../img/backgroundnotext.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-center {
  height: 100%;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg-title {
  color: white;
  font-size: 3em;
}

.bg-subtitle {
  color: white;
  font-size: 2em;
    padding-top: 20%;
}

#contentBox {
    border-bottom: 10px;
    height: 150px;
}

.register {
  text-align: center;
  font-size: 30px;
  height: 60px;
  width: 200px;
  margin: 20px auto -40px;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.tt {
  margin-top: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.sch {
  width: 70%;
  margin-left: 22%;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

.plain {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

.about-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 50px;

}

.desc {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.text-center {
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.sponsor-row {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
    align: center;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  background-color: black;
}

.footer p {
  color: white;
}

#map {
    margin-top: 30px;
    text-align: center;
    width: 70%;
    height: 400px;
    background-color: grey;
    left:15%;
      }
.column {
    float: left;
    margin:0;
    width:33%;
}
.icon {
    height: 100px;
    padding-left: 35%;
}

.navbar-brand{
  padding:0 !important;
}

.schedule-each{
  text-align: center;
}

.schedule{
  text-align: center;
}


.faqtt {
  /*margin-top: 30px;*/
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.offer{
  margin-bottom: 50px
}

.mapclass{
   padding-bottom: 70px
}

.col-sm-6 {
    height: 150px;
}

.img-responsive {
    height:100px;
    width:100px;
}

#col1 {
    float:right;
}
#col2 {
    float:left;
}
.kwcssa{
    padding-top:30px;
    width: 400px;
    align:center;
}

#faq{
  font-size:17px;
}

.reg{
  margin-top:250px;}


